[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11"
django-crispy-forms = "*"
pillow = "*"
gunicorn = "*"
psycopg2-binary = "*"
pipfile = "*"

[dev-packages]

[requires]
python_version = "2.7"
